.TodoItem-todo {
    border: 10px outset rgb(128, 172, 221);
    background-color: lightblue;
    text-align: center;
    max-width: 50%;
    margin-left: 465px;
    cursor: pointer;
  }

  .todoRemove {
    float: right;
    background-color: lightcoral;
    cursor: pointer;

}

.TodoItem-todo.done{
    color: rgb(46, 82, 47);
    text-decoration: line-through;
    
}

.FormOutline{
  float:right;
  
}

